%h1 Show invitation

%p
  %b Event:
  = @invitation.event_id

%p
  %b Guest User:
  = @invitation.guest_user_id

%p
  %b Host User:
  = @invitation.host_user_id

%p
  %b Invitation Type:
  = @invitation.invitation_type.title

%br
= link_to 'Back', admin_invitations_url