- if @country.errors.any?
  %h2
    = pluralize(@country.errors.count, "error")
    prohibited
    this country from being saved:
  %ul
    - @country.errors.full_messages.each do |m|
      %li= m

= form_for @country do |f|
  %p
    %b
      = f.label :name
    %br
    = f.text_field :name

  %p
    %b
      = f.label :initials
    %br
    = f.text_field :initials

  %p
    = f.submit