= simple_form_for [:admin, @event_category], html: {multipart: true} do |f|
  - if @event_category.errors.any?
    %h2
      = pluralize(@event_category.errors.count, 'error')
      prohibited
      this event_category from being saved:
    %ul
      - @event_category.errors.full_messages.each do |m|
        %li= m

  .field
    %p
      %b
        = f.label :title
      %br
      = f.text_field :title

    %p
      %b
        = f.label :short_description
      %br
      = f.text_field :short_description

    %p
      %b
        = f.label :long_description
      %br
      = f.text_field :long_description

    %p
      = f.button :submit, 'Save', class: 'btn btn-primary'