= simple_form_for [:admin, @invitation_type], html: {multipart: true} do |f|
  - if @invitation_type.errors.any?
    %h2
      = pluralize(@invitation_type.errors.count, 'error')
      prohibited
      this invitation_type from being saved:
    %ul
      - @invitation_type.errors.full_messages.each do |m|
        %li= m

  .field
    %p
      %b
        = f.label :title
      %br
      = f.text_field :title

    %p
      %b
        = f.label :short_description
      %br
      = f.text_field :short_description

    %p
      %b
        = f.label :long_description
      %br
      = f.text_field :long_description

    %p
      = f.button :submit, 'Save', class: 'btn btn-primary'