!!!
%html
  %head
    %title Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |type, message|
      %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
        %button.close{"data-dismiss" => "alert"} x
        = message
    .container
      = yield