 <!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/admin">ADMIN</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="<%= active?('admin/user_types')%>">
<a href="/admin/user_types">User Type</a>
</li>
<li class="<%= active?('admin/event_categories')%>">
<a href="/admin/event_categories">Event Category</a>
</li>
<li class="<%= active?('admin/event_types')%>">
<a href="/admin/event_types">Event Type</a>
</li>
<li class="<%= active?('admin/invitation_types')%>">
<a href="/admin/invitation_types">Invitation Type</a>
</li>
<li class="<%= active?('admin/cities')%>">
<a href="/admin/cities">Cities</a>
</li>
<li class="<%= active?('admin/countries')%>">
<a href="/admin/countries">Country</a>
</li>
<li class="<%= active?('admin/states')%>">
<a href="/admin/states">State</a>
</li>
<% if admin_signed_in? %>
  <li class="<%= active?('public')%>">
    <%= link_to 'Edit profile', edit_admin_registration_path %>
  </li>
  <li>
    <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
  </li>
  <p class="navbar-text navbar-right">
  Logged in as <strong><%= current_admin.email %></strong>.
  </p>
<% else %>
  <li class="<%= active?('devise/registrations')%>">
    <%= link_to "Sign up", new_admin_registration_path %>
    </li>
    <li class="<%= active?('devise/sessions')%>"> <%= link_to "Login", new_admin_session_path %>
    </li>
<% end %>
</ul>
</div><!-- /.navbar-collapse -->
</nav>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">x</button>
    <%= message %>
    </div>
<% end %>

<div class="container">
<%= yield %>
</div>

</body>
</html>